svg {
  fill: hsla(0, 0%, 50%, 0.5);
  width: 2vmin;
  overflow: hidden;
  opacity: 1;
  transition: height 500ms, opacity 500ms;
}

svg.hide {
  width: 0;
  opacity: 0;
}

.icon {
  /*width: 100%;*/
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
